<h2>You have selected</h2>
<h1><%= @team.name %></h1>
<h3><%= @team.driver %> &amp; <%= @team.navigator %></h3>
<h3><%= @team.vehicle %></h3>
<h3>Pax index: <%= @team.pax %></h3>

<div class="button-list fixed">
  <%= link_to "Sounds good. Let's go!", sessions_path(team_id: @team.id), method: :post, class: 'button next' %>
  <%= link_to "Oops, that's not my team!", logout_path, class: 'button' %>
</div>
