<!doctype html>
<%#<html manifest="cache.mobile.manifest">%>
<html>
<head>
  <meta charset="utf-8">
  <title>RallyRampage</title>

  <!-- setup mobile support -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="format-detection" content="telephone=no">

  <meta name="viewport" content="initial-scale=1.0">
  <meta name="viewport" content="maximum-scale=1.0">
  <meta name="viewport" content="user-scalable=no">
  <meta name="viewport" content="width=device-width">

  <link rel="apple-touch-icon-precomposed" href="images/icons/54.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/72.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/114.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/144.png">

  <link rel="apple-touch-startup-image" href="images/startup-568h-retina.png" media="screen and (device-height: 568px)">
  <link rel="apple-touch-startup-image" href="images/startup-retina.png" media="screen and (device-height: 480px) and (min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="images/startup.png" media="screen and (device-height: 480px)">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <h1 id="logo">
      <% if current_team %>
        <%= link_to "Team #{current_team.name}", current_team %>
      <% else %>
        <%= link_to "Rally Rampage!", root_path %>
      <% end %>
    </h1>
  </nav>

  <div id="application">
    <%= yield %>
  </div>

  <footer>
    <%= yield :footer if content_for?(:footer) %>
  </footer>

  <div id="install" style="display:none">
    <div class="top">
      <h2>Install <span class="bold">Rally Rampage</span></h2>
      <h3>Download the app for your iPhone today.</h3>
    </div>

    <%#<div class="chrome_instructions">%>
      <%#To download Rally Rampage, open it in Safari and "Add to Home Screen".%>
    <%#</div>%>

    <div class="instructions">
      Tap the icon below to "<span class="bold">Add to Home Screen</span>"
    </div>
  </div>

  <%= render partial:'shared/iphone_check' %>

</body>
</html>
